<!DOCTYPE html>
<html>
<head>
  <title>PlayShare</title>
  <link rel="stylesheet" href="../styles/authorize.css">
  <link rel="icon" href="../images/PlayShare_logo.png" type="image/x-icon">
</head>

<body>
  <div class="header">
    <h1>PlayShare</h1>
  </div>
  <div class="bg">
    <div class="padding">
    </div>
    <div class="container">
      <p class="text">Thanks for signing up! You'll need to authorize PlayShare with Spotify first</p>
      <p class="text">Redirecting... <!-- in <span id="counter">5</span> second(s). --> </p>
      <script type="text/javascript">
      window.setTimeout(function() {
        location.href = "/authorize";
      }, 5000);
      </script>
    </div>
  </div>
</body>

</html>
