<!DOCTYPE html>
<html>
<head>
  <title>Main Page</title>
  <link rel="stylesheet" href="../styles/search.css">
  <link rel="shortcut icon" href="../images/PlayShare_logo.png" />
</head>

<body>
  <script type="text/javascript">
  function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
    $(".dropdown-content").animate({height: 'toggle'});
  }
  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function(event) {
    if (!event.target.matches('#dropbtn')) {

      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          $(".dropdown-content").animate({height: 'toggle'});
          openDropdown.classList.remove('show');
        }
      }
    }
  }
  </script>
  <div class="header">
    <h1>PlayShare</h1>
    <div class="dropdown">
      <button onclick="myFunction()" id="dropbtn" class="btn" style="width: 35px;">☰</button>
      <div id="myDropdown" class="dropdown-content">
        <a href="/feed">feed</a>
        <a href="/share">share a playlist</a>
        <a href="{{logout_link}}">sign out</a>
      </div>
    </div>
  </div>
  <div class="bg">
    <div class="padding">
    </div>
    <div class="container">
      <form method="post" action="/search">
        <p class="label">Search any word and get a randomized playlist of songs containing that word</p>
        <input name="search_word" type='text' placeholder="keyword"></input>
        <input class="btn" type="submit" value="Randomize!"></input>
      </form>
    </div>
  </div>
  <div class="below">
    <div class="below-box">
      <p>PlayShare © 2018<br>Created by Valeria L.</p>
    </div>
  </div>
</body>

</html>
