<!DOCTYPE html>
<html>
<head>
  <title>Main Page</title>
  <link rel="stylesheet" href="../styles/search.css">
  <link rel="shortcut icon" href="../images/PlayShare_logo.png" />
</head>

<body>
  <div class="header">
    <h1>PlayShare</h1>
    <a class="logout-btn btn" href="{{logout_link}}">Sign out</a>
  </div>
  <div class="bg">
    <div class="padding">
    </div>
    <div class="container">
      <form method="post" action="/search">
        <p class="label">Search any word and get a randomized playlist of songs containing that word</p>
        <input name="search_word" type='text' placeholder="keyword"></input>
        <input class="btn" type="submit" value="Randomize!"></input>
      </form>
    </div>
  </div>
  <div class="below">
    <div class="below-box">
      <p>PlayShare © 2018<br>Created by Valeria L.</p>
    </div>
  </div>
</body>

</html>
