<!DOCTYPE html>
<html>
<head>
  <title>Feed</title>
  <link rel="stylesheet" href="../styles/shared_playlists.css">
  <link rel="shortcut icon" href="../images/PlayShare_logo.png"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
  <script type="text/javascript">
  $(document).ready(function() {
    $('#show_btn').click(function() {
      $(".sort").animate({height: 'toggle'});
    });
  });
  function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
    $(".dropdown-content").animate({height: 'toggle'});
  }
  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function(event) {
    if (!event.target.matches('#dropbtn')) {

      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          $(".dropdown-content").animate({height: 'toggle'});
          openDropdown.classList.remove('show');
        }
      }
    }
  }
  </script>

  <div class="header">
    <h1>PlayShare</h1>
    <div class="dropdown">
      <button onclick="myFunction()" id="dropbtn" class="btn" style="width: 35px;">☰</button>
      <div id="myDropdown" class="dropdown-content">
        <a href="/search">playlist generator</a>
        <a href="/share">share a playlist</a>
        <a href="{{logout_link}}">sign out</a>
      </div>
    </div>
  </div>

  <div class="bg">
    <div class="padding">
    </div>
    <div class="container">
      <p class="label">My uploaded playlists</p>
        <form method="post" action="/remove" class="remove_play">
            {% for item in myplay %}
              <p class="play_title">{{item.play_name}}</p>
              <input class="btn" id="remove" type="submit" value="Remove"></input>
            {% endfor %}
        </form>
    </div>
  </div>

</body>

</html>
