<!DOCTYPE html>
<html>
<head>
  <title>PlayShare</title>
  <link rel="stylesheet" href="../styles/start.css">
  <link rel="icon" href="../images/PlayShare_logo.png" type="image/x-icon">
</head>

<body>
  <div class="header">
    <h1>PlayShare</h1>
  </div>
  <div class="bg">
    <div class="padding">
    </div>
    <div class="container">
      <p>Music is powerful. Why hide it away? <br>
        Share what you're listening to with PlayShare and discover new music</p>
      <form action="/login">
        <input type="image" id="sign_in_button" src="../images/btn_google_signin_light_normal_web.png" />
      </form>
    </div>
  </div>
</body>

</html>
