html {
  background: url("../images/circuits.jpg") no-repeat center center fixed;
  background-size: cover;
}
body {
  text-align: center;
  font-family: helvetica;
  margin: 0;
}
.header {
  margin: 0;
  width: 100vw;
  color: white;
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  margin: 0 0 0 0px;
  font-weight: lighter;
}
.btn {
  color: white;
  background-color: #dd4b47;
  padding: 8px;
  border-radius: 4px;
  border: none;
  font-size: 12pt;
}
.btn:hover {
  background-color: #822522;
}
.btn:focus {
  outline: none;
}
.dropdown {
  position: absolute;
  left: 0;
  margin-left: 10px;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
}
.dropdown-content a {
  background-color: #ffffffd9;
  color: black;
  text-decoration: none;
  display: block;
  padding: 8px;
}
.dropdown-content a:hover {
  background-color: #a0a0a0;
}
.bg {
  height: 100vh;
}
.padding {
  height: 40px;
}
iframe {
  width: 25vw;
  height: 70vh;
}
.widget {
  background: url("../images/loading.gif") center center no-repeat;
  background-size: 100px;
}
.share {
  font-family: helvetica;
  border: 0;
  font-size: 14pt;
  background-color: #dd4b47;
  color: white;
  margin: 0;
  font-weight: lighter;
  border-radius: 5px;
  padding: 8px;
  margin-top: 10px;
}
.below {
  background-color: #ffffffd9;
  height: 88px;
  width: 100vw;
  display: flex;
}
.below-box {
  font-family: helvetica;
  font-weight: lighter;
  text-align: center;
  font-size: 14pt;
  margin: auto;
}
